.idea
.venv
.env
__pycache__/
/dataset
/chroma_db
snapshot.txt
z.old_1_scraping_wikipedia.py
TextCleaner.py
chatbotDeepSeek.py
app_gui.py
z.3.5_tinker_rag_gui.py
z.2.5_ transform_rag_data.py
z.1_firecrawl-py.py